@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');
@media only screen and (max-width: 578px) {
    .centralizar section,
    h2 {
        text-align: center;
    }
}

@media only screen and (max-width: 578px) {
    .logo {
        margin: auto;
    }
}

.corfonte {
    color: black !important;
}

.botao_cor {
    background-color: #8FCACA;
}

.fundo {
    background-color: #f5f5f5;
}


/* FIM PALETA DE CORES */


/* TEXTO */

.text-justify {
    text-align: justify;
}

.sublinhado a:hover {
    text-decoration-line: underline;
}

.colorhover {
    background-color: rgb(24, 119, 87);
}

.fontetexto {
    color: white;
}


/* TEXTO */

.imglargura {
    width: 100%;
    height: auto;
}

.cardlargura {
    max-width: 460px !important;
}

.cardlargura2 {
    max-width: 300px !important;
}

.limpar {
    text-decoration: none !important;
    color: black;
}

.icones {
    font-size: 28px !important;
}


/* PARTE GIOVANA */

.vac {
    width: 100%;
}

.jan {
    width: 100%;
}

.not1 {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.not1:hover,
.active {
    color: #ed9aa2;
}

.recort {
    text-decoration: none;
    color: black;
}

.recort:hover,
.active {
    color: #ed9aa2;
}


/* FIM PARTE GIOVANA */


/* PARTE FELIPE */

.var_alinha img {
    float: left;
    max-width: 200px;
    max-height: 150px;
    width: auto;
    height: auto;
}

h2 {
    text-align: center;
    padding: 2% 5% 2% 5%;
}

.texto p {
    text-align: left;
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0 0 0 2%;
}


/* FIM PARTE FELIPE */

.corcard {
    background-color: #e0dfdf;
    height: 100%
}

.cardajuste {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 100%;
}

.caixapo {
    object-position: 20%;
}

.caixaimg {
    object-fit: cover;
    height: 400px;
}


/* FIM CLASSE OK */


/* PARTE ANDERSON  */


/* PARTE ANDERSON */